body{
  margin: 0px;
  margin-top: 0px;
}

#mainback {
  background: rgba(0 0 0 / 35%);
  height: 100%;
  width: 100%;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
}

.backgroundgif{
  width: 100%;
  height: 100vh;
  background-size:cover ;
  object-fit: cover;
}

.header{
  background-color: black;
  color: white;
  text-decoration: none;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
}

.navmid{
  margin-left: 0px
}

.navbarleft{
  list-style-type: none;
}

.navbarleft li{
  display: inline-block;
  margin-left: 15px;
  border: solid 1px #b133ff;
  background-color: #b133ff;
  box-shadow: 0 0 5px #b133ff, 0 0 25px #b133ff;
  padding : 10px;
  border-radius: 10px;
}

.navbarleft li a{
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  padding: 8px 10px;
  font-family: 'Concert One', cursive;
  border-radius: 10px;
}

.navbarleft li a:hover{
  box-shadow: 0 0 5px #b133ff, 0 0 25px #b133ff, 0 0 50px  #b133ff, 0 0 100px #b133ff, 0 0 200px #b133ff;
}

.navbarmid{
  list-style-type: none;
  padding-left: 0px;
}

.navbarmid li{
  display: inline-block;
  margin-left: 15px;
  border: solid 1px #8509D0;
  padding : 10px;
  font-family: 'Concert One', cursive;
  border-radius: 10px;
}

.navbarmid li a{
  text-decoration: none;
  color: #ffffff;
  padding: 8px 13px;
  font-size: 15px;
  font-family: 'Concert One', cursive;
  border-radius: 10px;
}

.navbarmid li:hover{
  box-shadow: 0 0 5px #b133ff, 0 0 25px #b133ff, 0 0 50px  #b133ff, 0 0 100px #b133ff, 0 0 200px #b133ff;
}

.navbarright li{
  list-style-type: none;
  display: inline-block;
  margin-bottom: 0px;
}

.navbarright li:hover{
  box-shadow: 0 0 25px #b133ff, 0 0 15px #b133ff;
  margin-right: 45px;
  width: 37px;
  border-radius: 18px;
}


#player-container #play-pause {
  cursor: pointer;
  text-indent: -999999px;
  height: 15px;
  width: 5px;
  padding: 10px 16px;
  z-index: 2;
  margin-right: 45px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
  background-position: center;
  background-repeat:no-repeat;
  background-size:20px;
  background-color: #4cc601;
  border-radius: 20px;
  box-shadow: 0 0 5px #4cc601, 0 0 15px #4cc601;
}

#play-pause #player-container:hover{
  background-color:#4cc601;
  box-shadow: 0 0 25px #4cc601, 0 0 15px #4cc601;
}

.play {
  background-image:     url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
filter: invert(100%);
-webkit-filter: invert(100%)
}
.pause {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTAgMjRoLTZ2LTI0aDZ2MjR6bTEwLTI0aC02djI0aDZ2LTI0eiIvPjwvc3ZnPg==)!important;
}

.content{
  border: 1px solid red;
}
.content-left{
  margin-top: 100px;
  border: 1px solid white;
}

.content-left-icons{
  margin-left: 50px;
  filter: invert(1);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.content-left h1{
  color: white;
  font-family: "Poetsen One", sans-serif;
  font-size: 60px;
  margin-left: 55px;
  text-shadow: 0px 0px 25px #b133ff;
  margin-bottom: 15px;
}

.lefticon{
 text-decoration: none;
}

.imgicona{
  height: 30px; 
  width: 30px;
  margin-left: 10px;
}

 .imgiconb{
  height: 30px; 
  width: 30px;
  margin-left: 10px;
  display: inline-block;
}

 .imgiconc{
  height: 30px; 
  width: 30px;
  margin-left: 10px;
}

.imgicona:hover{
  filter: brightness(120%);
  filter: contrast(120%);
  filter: drop-shadow(0px 0px 6px #2e7e00);
}

 .imgiconb:hover{
  filter: brightness(120%);
  filter: contrast(120%);
  filter: drop-shadow(0px 0px 6px #2e7e00);
}

 .imgiconc:hover{
  filter: brightness(120%);
  filter: contrast(120%);
  filter: drop-shadow(0px 0px 6px #2e7e00);
}