body{
  margin: 0px;
  margin-top: 0px;
}

#mainback {
  background: rgba(0 0 0 / 35%);
  height: 100%;
  width: 100%;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
}

.backgroundgif{
  width: 100%;
  height: 100vh;
  background-size:cover ;
  object-fit: cover;
}

.header{
  background-color: black;
  color: white;
  text-decoration: none;
}

.navbarleft{
  list-style-type: none;
}



