body{
  margin: 0px;
  margin-top: 0px;
}

#mainback {
  background: rgba(0 0 0 / 35%);
  height: 100%;
  width: 100%;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
}

.backgroundgif{
  width: 100%;
  height: 100vh;
  background-size:cover ;
  object-fit: cover;
}

.header{
  background-color: black;
  color: white;
  text-decoration: none;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
}

.navmid{
  margin-left: 0px
}

.navbarleft{
  list-style-type: none;
}

.navbarleft li{
  display: inline-block;
  margin-left: 15px;
  border: solid 1px #b133ff;
  background-color: #b133ff;
  box-shadow: 0 0 5px #b133ff, 0 0 25px #b133ff;
  padding : 10px;
  border-radius: 10px;
}

.navbarleft li a{
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  padding: 8px 10px;
  font-family: 'Concert One', cursive;
  border-radius: 10px;
}

.navbarleft li a:hover{
  box-shadow: 0 0 5px #b133ff, 0 0 25px #b133ff, 0 0 50px  #b133ff, 0 0 100px #b133ff, 0 0 200px #b133ff;
  font-size: 15.5px;
  padding: 8.5px 10.5px;
}

.navbarmid{
  list-style-type: none;
  padding-left: 0px;
}

.navbarmid li{
  display: inline-block;
  margin-left: 15px;
  border: solid 1px #8509D0;
  padding : 10px;
  font-family: 'Concert One', cursive;
  border-radius: 10px;
}

.navbarmid li a{
  text-decoration: none;
  color: #ffffff;
  padding: 8px 13px;
  font-size: 15px;
  font-family: 'Concert One', cursive;
  border-radius: 10px;
}

.navbarmid li:hover{
  box-shadow: 0 0 5px #b133ff, 0 0 25px #b133ff, 0 0 50px  #b133ff, 0 0 100px #b133ff, 0 0 200px #b133ff;
}

.navbarright{
  list-style-type: none;
}

