<<<<<<< HEAD

*{
    margin: 0;
    padding: 0;
    font-family: 'Concert One', cursive;
}

html{
    height: 100%;
    width: 100%;
}
body {
    background-image: linear-gradient(280deg, #870DD1, #FFFF);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

.backButton{
    position: fixed;
    top: 40px;
    left: 40px;
}

.backButton button{
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #8509D0;
    background: #8509D0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 10px;
    font-size: 15px;
}

h1{
    color: #8509D0;
    text-align: center;
    margin-top: 40px;
}

/* .mainchatbox{
   margin-left: 250px;
    margin-right: 140px;
    margin-top: 260px;
    margin-bottom: 0px;
    padding-bottom: 100%;
    background-color: white;
} */


.chatinput{
    border: 1px solid white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 159px;
    height: 138px;
    margin-left: 249px;
    margin-top: 100px;
    position: absolute;
    color: #8509D0;
}

.submitbtn{
    color: azure;
    background-color: #8509D0;
    border: 1px solid #8509D0;
    padding: 6px;
    border-radius: 5px;
    font-size: 13px;
}

.submitbtn:hover{
    color: azure;
    background-color: #8509D0;
    border: 1px solid #8509D0;
    padding: 6px;
    border-radius: 5px;
    font-size: 13px;
}

h2{
    padding: 10px;
    color: rgb(0, 156, 0);
}

.comment{
    padding: 8px 0;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.comment span:first-child{
    text-transform: uppercase;
    font-weight: bold;
}

.comment span:nth-child(3){
    color:rgb(56, 53, 53);
    font-size: 12px;
}



=======
.html{
    height: 100%;
    width: 100%;
}

body {
    background-image: linear-gradient(to bottom right, #f1dbff, #d86bff);
  }
>>>>>>> 3144459 (files)
